<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Website</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f1c43a80e3.js" crossorigin="anonymous"></script>

    <style>
        #left {
            background-image: url('static/images/{{ forecast.Today.condition_image }}');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            width: 60%;
            height: 100%;
            align-items: flex-end;
            justify-content: flex-start;
            display: flex;
        }
    </style>
</head>

<body>

    <div id="container">
        <div id="left">
            <span class="today temp">{{ forecast.Today.temperature }}&deg;</span>
            <span class="today city">
                {{ city }} <br>
                <span class="day">Monday</span>
            </span>
            <span class="today con">
                {{ forecast.Today.condition_sign|safe }} <br>
                {{forecast.Today.condition}}
            </span>
        </div>
        <div id="right">
            <div class="box">
                <form name="search" action="{{ url_for('get_city') }}" method="post">
                    <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
                </form>
                <i class="fas fa-search"></i>
            </div>

            <div>
                {% for day, con in forecast.items() %}
                    {% if day != 'Today' %}
                        <div class="box">
                            <span class="weeks_day">{{ day. }}</span>
                            <span class="weeks_temp">{{ c }}&deg;</span>
                                <!-- <span class="weeks_con">{{ day.condition_sign|safe }} {{ day.condition }}</span> -->
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- <div class="container">
        <p>
            {{ forecast }}
            {{ city }}
        </p>
    </div> -->
</body>
</html>